{{ define "main" }}

<section class="site-about-header">
  <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
           <br><br>
            <h1 class="site-cta-title">Restauration</h1>
          </div>
          <div class="container" id="restauration">
              <div class="row">
                  <div class="col-sm">
                      <img width="70%" src="{{ "images/RU.jpg" | absURL }}"  alt="Restaurant Universitaire">
                  </div>
                  <div class="col-lg">
                       <p class="light black">
                            Tu en as sûrement déjà profité en arrivant ce matin, un petit-déjeuner sera préparé tous les jours par nos soins.
                      </p>
                      <p class="light black">
                            Le midi tu pourras te régaler au RU pour environ 8€ ou bien à l'Escale (petite cafétéria)
                            pour environ 5€. Tu peux aussi acheter des snacks au bar de l'école. Ces trois options
                            sont disponibles tous les midis !
                        </p>
                        <p class="light black">
                            On te conseille cependant d'apporter toi-même à manger, des espaces de restauration seront mis en place dans le foyer et des tables de pique-nique sont disponibles sur le
                            campus pour déjeuner au soleil.
                        </p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</section>



{{ end }}