{{ define "main" }}

<section class="site-about-header">
  <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
           <br><br>
            <h1 class="site-cta-title">Activités</h1>
          </div>
          <p class="light black">
                Lors de cette semaine, différentes associations ou clubs te proposeront des activités sur le temps du midi. Cela peut te permettre de te changer un peu les idées et d’avoir un rapide aperçu de ce qui peut se faire en terme d’associatif en études supérieures !
          </p>
          <img width="100%" src="{{ "images/edt.png" | absURL }}"  alt="Emploi du temps">
            <br><br><br>
        </div>
      </div>
    </div>
</section>



{{ end }}